<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SoundShare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Corrected the path to point to static folder from the templates folder -->
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1 class="title">
                    <a href="Home.html">SoundShare</a>
                </h1>
                <img id='logo'src="https://i.postimg.cc/y8z7GhF3/thumbnail-IMG-0218.png" alt="">
            </div>
    
            <nav>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="profil.html">Profile</a></li>
                    <li><a href="Marketplace.html">Marketplace</a></li>
                    <li><a href="community.html">Community</a></li>
                </ul>
            </nav>
            <form action="/search_results" method="post">
                <input class="search" type="text" name="query" placeholder="Search">
            </form>
            <img id="profile" src="{{pfp}}" alt="User Profile">
        </header>
        <main>
            <div class="top-page">
                <div class="float-child">
                    <h2>Post</h2>
                    <div class="section">
                        <textarea placeholder="Share your thoughts with the world" id="comment" name="comment" rows="10" cols="50"></textarea>
                        <button id="submit-post">Submit</button>
                    </div>
                </div>
                
                <div class="float-child">
                    <h2><a id='heading' href="Community.html">Trending Post</a></h2>
                    <div id="popular-posts">
                        <!-- Posts will be dynamically inserted here -->
                    </div>
                </div>
            </div>
            
            <div class="top-page">
                <div class="float-child">
                    <h2>Recent Post</h2>
                    <div id="recent-posts"></div>  <!-- Make sure this has an ID for JavaScript to target -->
                </div>
            </div>
            
            
        </main>
        <script src="../static/post.js"></script>
        <script src="../static/random_post.js"></script>
    </body>

</html>