<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SoundShare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1 class="title">
                    <a href="Home.html">SoundShare</a>
                </h1>
                <img id='logo'src="https://i.postimg.cc/y8z7GhF3/thumbnail-IMG-0218.png" alt="">
            </div>
    
            <nav>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="profil.html">Profile</a></li>
                    <li><a href="Marketplace.html">Marketplace</a></li>
                    <li><a href="community.html">Community</a></li>
                </ul>
            </nav>
            <form action="/search_results" method="post">
                <input class="search" type="text" name="query" placeholder="Search">
            </form>
            <img id="profile" src={{pfp}} alt="User Profile">
        </header>
        <main>
            <div class="top-page">
                <div class="float-child">
                    <div class="purchase">
                        <img id="info" src="../static/download (1).png" alt="New Song">
                        <hr>
                        <h3>Opm Babi</h3>
                        <button id="buy-shares"><a href="#">Buy Shares</a></button> <!-- Changed ID -->
                    </div>
                </div>
                <div class="float-child">
                    <div class="purchase">
                        <h3>Purchase</h3>
                        <hr>
                        <h3>Price: $<span id="price">100.00</span></h3>
                        <h3>
                            Shares: 
                            <button id="decrease">-</button>
                            <input type="number" id="shares" value="1" min="1">
                            <button id="increase">+</button>
                        </h3>
                        <hr>
                        <button id="buy">Confirm Purchase</button>
                    </div>
                </div>
            </div>
        </main>
        
        <script src="../static/price.js"></script>
    </body>
</html>
